<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<style>
    h3{
        text-align: center;
        margin-top: 50px;
    }
    table{
        margin-left: 250px;
    }
    body{
    background-image: url('/static/images/iphone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
</style>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand mx-5 text-white" href="#">Imagine</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          
    
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item  me-4">
                <a class="nav-link text-decoration-none text-white " href="{% url 'Load_Admin_Home' %}">Home</a>
              </li>
              <li class="nav-item  me-4">
                <a class="nav-link text-decoration-none text-white " href="{% url 'Load_catogory' %}">Add Catogory </a>
              </li>
              <li class="nav-item  me-4">
                <a class="nav-link text-decoration-none text-white " href="{% url 'Load_catgry' %}">View Catogory</a>
              </li>
              <li class="nav-item  me-4">
                <a class="nav-link text-decoration-none text-white " href="{% url 'Load_prdct' %}">Add Product</a>
              </li>
              <li class="nav-item  me-4">
                <a class="nav-link text-decoration-none text-white " href="{% url 'Load_View_Product' %}">View Product</a>
              </li>
              <li class="nav-item  me-4">
                <a class="nav-link text-decoration-none text-white " href="{% url 'Load_user' %}">View User</a>
              </li>
              <li class="nav-item  me-4">
                <a class="nav-link text-decoration-none text-white " href="User_Logout">LogOut</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <h3>
        USER TABLE
    </h3>
    <table class="table table-dark table-hover text-center mt-3 w-50">
        <thead>
            <tr>
                <th>firstname</th>
                <th>lastname</th>
                <th>username</th>
                <th>address</th>
                <th>email</th>
                <th>gender</th>
                <th>age</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead> 
        <tbody>
            {% for i in users %}
            <tr>
                <td>{{ i.User.first_name }}</td> 
                <td>{{ i.User.last_name }}</td> 
                <td>{{ i.User.username }}</td> 
                <td>{{ i.User_Address }}</td>  
                <td>{{ i.User.email }}</td> 
                <td>{{ i.User_Gender }}</td> 
                <td>{{ i.User_Age }}</td> 
                <td><img src="{{ i.User_Photo.url }}" alt=""></td> 
                <td><a href="{% url 'user_dlt' i.id %}">delete</a></td>
                
            </tr>
            {% endfor %}
        </tbody> 
    </table></center> 
      </div>  
</body>
</html>